html {
height: 100%;
}

body {
  background-image: linear-gradient(#1f2160, #64b2e3);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #ffffff;
  font-family: "Tahoma";
}

img {
  width: 450px;
}

h5 {
  text-align: center;
}